@font-face{
  font-family: "gotik"; 
  src :url('./UnifrakturMaguntia.ttf');

}
body {
  margin: 0;
  font-family: "gotik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232324;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
